<!DOCTYPE html>
<html>

<head>
    <meta charSet='utf-8' />
    <link href='{{url_for "css/main.css"}}' rel='stylesheet'>
</head>

<body>
    <main class="container">
        <article class="content">
            <div class="container">
                {{>header navs=site.data.nav}}
                <section>
                    <h1>{{page.title}}</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum</p>
                </section>
                <hr>
                <section class="toc">
                    <h1>TOC section title</h1>
                    <ul>
                        {{#each site.data.rules}}
                        <li>
                            <a href="{{link}}">{{title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </section>
                <hr>
                <section class="section">
                    <div class='page-content'>
                        {{{page.content}}}
                    </div>
                </section>
                {{>footer}}
            </div>
        </article>
    </main>
</body>
</html>