<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= page.title %> | webhint</title>
    <%- include('partials/metas', { page }); %>

    <%- include('partials/styles'); %>
    <!-- build:css /static/styles/about.css -->
    <link rel="stylesheet" href="/core/css/code.css">
    <link rel="stylesheet" href="/core/css/tables-lists.css">
    <!-- endbuild -->
</head>

<body>
    <%- include('partials/gdpr') %>
    <%- include('partials/header', { navs: site.data.menu }); %>
    <main class="container">
      <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            <% if(page.category === 'about-index') { %>
            <ul>
                <li><a href="/">Home</a></li>
                <li>About</li>
            </ul>
            <% } else { %>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../">About</a></li>
                <li><%= page.title %></li>
            </ul>
            <% } %>
        </nav>
        <header class="page-intro">
          <h1 id="heading"><%= page.title %></h1>
        </header>
            <% if (page.category === 'about-index') { %>
                <%- include('partials/about-index'); %>
            <% } else { %>
                <div class="section">
                    <%- page.content %>
                </div>
            <% } %>
        </article>
    </main>

    <%- include('partials/footer', { navs: site.data.menu }); %>

    <%- include('partials/scripts', { theme }); %>
</body>
</html>
