<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <%- include('partials/metas', { page }); %>

    <%- include('partials/styles'); %>
    <%- include('partials/scan/browser-icon', { result: { isScanner: true } }); %>
</head>

<body>
    <%- include('partials/gdpr') %>
    <%- include('partials/header', { navs: site.data.menu }); %>
    <%- include(`partials/${partial}`); %>
    <%- include('partials/footer', { navs: site.data.menu }); %>

    <%- include('partials/scripts', { theme }); %>
</body>
</html>
