<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <% if (page.type === 'doc-index') { %>
        <title><%= page.title %> | webhint </title>
    <% } else { %>
        <title><%= page.title %> | webhint documentation</title>
    <% } %>

    <%- include('partials/metas', { page }); %>

    <%- include('partials/styles'); %>

    <!-- build:css /static/styles/docs.css -->
    <link rel="stylesheet" href="/core/css/code.css">
    <link rel="stylesheet" href="/core/css/table-of-contents.css">
    <link rel="stylesheet" href="/core/css/tables-lists.css">
    <link rel="stylesheet" href="/components/treeview/treeview.css">
    <link rel="stylesheet" href="/components/anchor-top/anchor-top.css">
    <link rel="stylesheet" href="/components/placement/placement.css">
    <link rel="stylesheet" href="/core/css/documentation.css">
    <!-- endbuild -->
    <%- include('partials/scan/browser-icon', { result: { isScanner: true } }); %>
</head>

<body>
    <%- include('partials/gdpr') %>
    <%- include('partials/header', { navs: site.data.menu }); %>
    <main class="container">
        <% if (page.section === 'doc-index') { %>
            <%- include('partials/doc-index'); %>
        <% } else { %>
            <%- include('partials/doc', { pages: utils.getPagesBySection(site.pages.data, page.section) }); %>
        <% } %>
    </main>

    <%- include('partials/footer', { navs: site.data.menu }); %>

    <!-- build:js /static/scripts/treeview.js -->
    <script async src="/components/treeview/treeview.js"></script>
    <script async src="/components/anchor-top/anchor-top.js"></script>
    <!-- endbuild -->
    <%- include('partials/scripts', { theme }); %>
</body>
</html>
