<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= page.title %> | webhint</title>
    <%- include('partials/metas', { page }); %>

    <%- include('partials/styles'); %>
    <%- include('partials/browser-icon', {result: null}); %>
</head>

<body>
    <%- include('partials/gdpr') %>
    <%- include('partials/header', { navs: site.data.menu }); %>

    <main class="container">
        <section class="section container">
            <div class="layout layout--basic">
                <div class="module--primary">
                    <img src="/images/nellie-confused.svg" alt="Nellie lost in space">
                </div>
                <div class="module--secondary">
                    <h1 id="page-heading">404</h1>
                    <h2>Uh oh, you seem to be lost</h2>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer', { navs: site.data.menu }); %>

    <%- include('partials/scripts', { theme }); %>
</body>
</html>
