<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{page.title}} | sonarwhal</title>
    {{>metas}}

    {{> styles}}
    <link rel="stylesheet" href="{{url_for "/core/css/code.css"}}">
    <link rel="stylesheet" href="{{url_for "/core/css/table-of-contents.css"}}">
    <link rel="stylesheet" href="{{url_for "/core/css/tables-lists.css"}}">
    <link rel="stylesheet" href="{{url_for "/components/treeview/treeview.css"}}">
    <link rel="stylesheet" href="{{url_for "/core/css/documentation.css"}}">
</head>

<body>

    {{>header navs=site.data.menu}}
    <main class="container">
      <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            {{#compare page.category '===' 'about-index'}}
            <ul>
                <li><a href="/">Home</a></li>
                <li>About</li>
            </ul>
            {{else}}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../">About</a></li>
                <li>{{page.title}}</li>
            </ul>
            {{/compare}}
        </nav>
        <header class="page-intro">
          <h1 id="heading">{{page.title}}</h1>
        </header>
            {{#compare page.category '===' 'about-index'}}
                {{>about-index}}
            {{else}}
                {{#compare page.title '===' 'contributors'}}
                {{>contributors devs=site.data.contributors}}
                {{else}}
                    <div class="section">
                        {{{page.content}}}
                    </div>
                {{/compare}}
            {{/compare}}
        </article>
    </main>

    {{>footer navs=site.data.menu}}

    <script async src="{{url_for "/components/treeview/treeview.js"}}"></script>
    {{>scripts}}
</body>
</html>
