<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{page.title}} | sonarwhal</title>
    {{>metas}}

    {{> styles}}
    <!-- build:css /static/styles/about.css -->
    <link rel="stylesheet" href="/core/css/code.css">
    <!-- endbuild -->
</head>

<body>

    {{>header navs=site.data.menu}}
    <main class="container">
      <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            {{#compare page.category '===' 'about-index'}}
            <ul>
                <li><a href="/">Home</a></li>
                <li>About</li>
            </ul>
            {{else}}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../">About</a></li>
                <li>{{page.title}}</li>
            </ul>
            {{/compare}}
        </nav>
        <header class="page-intro">
          <h1 id="heading">{{page.title}}</h1>
        </header>
            {{#compare page.category '===' 'about-index'}}
                {{>about-index}}
            {{else}}
                <div class="section">
                    {{{page.content}}}
                </div>
            {{/compare}}
        </article>
    </main>

    {{>footer navs=site.data.menu}}

    {{>scripts}}
</body>
</html>
