<main class="container">
    <article class="content" aria-labelledby="page-heading">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../">About</a></li>
                <li>Changelog</li>
            </ul>
        </nav>
        <header class="page-intro">
            <h1 id="page-heading">Changelog</h1>
        </header>
        <div class="section">
            <div class="layout layout--sidebar">
                <% changelog.forEach((item) => { %>
                <div class="module module--wrapper">
                    <div class="module module--secondary"> 
                        <h2 class="g-title changelog__date"><%= item.dateString %></h2>
                    </div>
                    <div class="module module--primary">
                        <div class="changelog__updates">
                            <% Object.entries(item.packages).forEach(([packageName, packageContent]) => { %>
                                <h3 class="changelog__version"><%= packageName %> - <%= packageContent.version %></h3>
                                <% packageContent.content.forEach((content) => { %>
                                    <div class="changelog__updates--body">
                                        <h4 class="<%= utils.normalizeClassName(content.category); %>"><%= content.category %></h4>
                                        <%- content.html %>
                                    </div>
                                <% }); %>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <nav class="pagination" aria-label="pagination">
            <%- include('pagination', { currentPage: pagination.currentPage, totalPages: pagination.totalPages, pattern: pagination.pattern }); %>
        </nav>
    </article>
</main>
