<main class="container">
    <article class="content" aria-labelledby="page-heading">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../">About</a></li>
                <li>Changelog</li>
            </ul>
        </nav>
        <header class="page-intro">
            <h1 id="page-heading"><%= page.title %></h1>
        </header>
        <div class="section">
            <% Object.entries(site.data.changelog).forEach(([key, update]) => { %>
            <h2><%= key %></h2>
            <div class="changelog__updates">
                <% Object.entries(update).forEach(([category, content]) => { %>
                    <h3 class="<%= utils.normalizeClassName(category); %>"><%= category %></h3>
                    <%- content.html %>
                <% }); %>
            </div>
            <% }); %>
        </div>
    </article>
</main>
