<header class="header">
    <div class="header-social">
        <div class="header-social__container container">
            <img src="/images/jsf_logo_white.svg" alt="A JS Foundation Project">
            <ul class="header-social__list">
                <li class="github-icon">
                    <a href="https://github.com/webhintio" aria-label="Follow webhint on GitHub">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path class="github-icon-svg-header" d="M12.5.4C5.7.4.2 5.9.2 12.7c0 5.4 3.5 10 8.4 11.7.6.1.8-.3.8-.6v-2.1C6 22.4 5.3 20 5.3 20c-.6-1.4-1.4-1.8-1.4-1.8-1.1-.7.1-.7.1-.7 1.2.1 1.9 1.3 1.9 1.3 1.1 1.9 2.9 1.3 3.6 1 .1-.8.4-1.3.8-1.6-2.7-.3-5.6-1.4-5.6-6.1 0-1.3.5-2.4 1.3-3.3-.2-.4-.6-1.6 0-3.3 0 0 1-.3 3.4 1.3 1-.3 2-.4 3.1-.4 1 0 2.1.1 3.1.4C17.9 5.2 19 5.5 19 5.5c.7 1.7.2 2.9.1 3.3.8.9 1.3 2 1.3 3.3 0 4.7-2.9 5.8-5.6 6.1.4.4.8 1.1.8 2.3v3.4c0 .3.2.7.8.6 4.9-1.6 8.4-6.2 8.4-11.7C24.8 5.9 19.3.4 12.5.4"/></svg>
                    </a>
                </li>
                <li class="twitter-icon">
                    <a href="https://twitter.com/narwhalnellie" aria-label="Follow webhint on Twitter">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 24"><path class="twitter-icon-svg-header" d="M25 4.4c-.9.4-1.9.7-2.9.8 1-.6 1.8-1.6 2.2-2.8-1 .6-2.1 1-3.2 1.2-.9-1-2.2-1.6-3.7-1.6-2.8 0-5 2.3-5 5 0 .4 0 .8.1 1.2C8.3 8 4.6 6 2.1 2.9c-.4.8-.7 1.6-.7 2.6 0 1.8.9 3.3 2.2 4.2-.8-.1-1.5-.3-2.2-.7v.1c0 2.4 1.7 4.5 4.1 5-.4.1-.9.2-1.3.2-.3 0-.6 0-.9-.1.6 2 2.5 3.5 4.7 3.5-1.9 1.3-4 2.1-6.4 2.1-.4 0-.8 0-1.2-.1C2.6 21.2 5.3 22 8.1 22c9.3 0 14.4-7.7 14.4-14.4v-.7c1-.6 1.8-1.5 2.5-2.5"/></svg>
                    </a>
                </li>
                <li class="medium-icon">
                    <a href="https://medium.com/webhint" aria-label="Follow webhint on Medium">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="4 2 40 40"><path  class="medium-icon-svg-header" d="M5 40V5h35v35H5zm8.56-12.63c0 .56-.03.7-.32 1.03l-2.45 3v.38h6.9v-.4l-2.4-2.98c-.3-.34-.35-.5-.35-1.03v-8.95l6.13 13.36h.7L27 18.42v10.64c0 .3 0 .35-.2.53L25 31.4v.37h9.2v-.4l-1.82-1.8c-.2-.17-.22-.23-.22-.52v-13.1c0-.3.03-.36.2-.54l1.83-1.8v-.32h-6.5L23.1 24.8l-5.2-11.55h-6.8v.4l2.14 2.63c.24.3.3.37.3.77V27.4z"/></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-bar container">
        <nav class="nav">
        <a href="/" class="clear logo--container"><img src="/images/webhint-logo.svg" alt="webhint" class="header__logo navbar__navitem"></a>
            <ul class="nav__navbar">
                <% navs.forEach((nav) => { %>
                    <li class="navbar__navitem">
                        <a role="button" href="<%= nav.link %>" id="<%= nav.id %>" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-<%= nav.id %>"
                        class="navitem__button <% if (nav.id === 'docs' || nav.id === 'about') { %>expandable<% } %>"><%= nav.title %></a>
                        <% if (nav.id === 'docs' || nav.id === 'about') { %>
                            <ul role="group" id="submenu-<%= nav.id %>" class="navbar__submenu" aria-hidden="true">
                                <% nav.items.forEach((item) => { %>
                                    <li><a href="<%= item.link %>"><%= item.title %></a></li>
                                <% }); %>
                            </ul>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
            <div class="nav-bar--container">
                <div class="nav-bar__input">
                    <form action="/search" method="GET">
                        <label for="search-input" class="visually-hidden">Search the documentation</label>
                        <input type="search" id="search-input" placeholder="Search Documentation" name="q" aria-label="Search">
                        <button type="submit" aria-label="search" class="button-search"></button>
                    </form>
                </div>
                <button class="mobile-close-button" aria-label="Close Search Overlay">Close</button>
            </div>
            <div class="nav-bar--mobile-buttons">
                <button class="header__toggle mobile-nav-button" aria-label="Menu"></button>
                <button class="header__toggle mobile-search-button" aria-label="Search"></button>
            </div>
        </nav>
    </div>
</header>
