
<div class="rule-result--details" aria-expanded="false" id="{{name}}">
    <div class="rule-result--details__header">
        <p class="rule-title">{{name}}: {{getLength messages status}}</p>
        <div class="rule-result__docs">
            {{#if hasDoc}}
                <a class="docs-button" target="_blank" href="/docs/user-guide/rules/{{name}}/" title="documentation for {{name}} rule"><img src="/images/results-docs-icon.svg" alt="" class="docs-icon" />Documentation</a>
            {{/if}}
            <button title="show {{name}}'s result details" class="button--details" data-rule="{{name}}">Open details</button>
        </div>
    </div>
    {{#each messages}}
    <div class="rule-result--details__body">
        <p class="{{../status}}-badge uppercase-text">{{../status}}</p>
        <p>
            {{{linkify message}}}
        </p>
        {{#if resource}}
        <p>
            <a target="_blank" rel="noopener noreferrer" href="{{resource}}">
                {{cutUrlString resource}}{{normalizePosition location.line}}{{normalizePosition location.column}}
            </a>
        </p>
        {{/if}}
        {{#if sourceCode}}
        <div class="rule-result__code">
            <code>{{cutCodeString sourceCode}}</code>
        </div>
        {{/if}}
    </div>
    {{/each}}
    {{#if thirdParty}}
        <div class="rule-result--details__footer-msg">
            {{#if thirdParty.details}}
                <p>To learn more visit </p>
            {{else}}
                    <p>With the help of </p>
            {{/if}}

            <a href="{{thirdParty.link}}">
                <img src="{{thirdParty.logo.url}}" alt="{{thirdParty.logo.alt}}" class="{{thirdParty.logo.name}}-logo" />
            </a>
        </div>
    {{/if}}
</div>
