{{>scan-queue permalink=permalink status=status}}
<div class="scan-result-bg-wrap" {{#if showQueue}}style="display:none"{{/if}}>
    <main>
        <article class="content" aria-labelledby="page-heading">
            <nav class="container breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/scanner/">Scanner</a></li>
                    <li>Results</li>
                </ul>
            </nav>
            <div class="section container">
                <div class="scan-overview" data-id="{{id}}">
                    <div class="scan-overview__header">
                        <p>SCANNED URL: <a href="{{url}}">{{url}}</a></p>
                        <p class="scan-overview__status {{#unless (isFinish status)}}analyzing{{/unless}}">
                            {{#unless (isFinish status)}}
                                Analyzing
                            {{else}}
                                {{status}}
                            {{/unless}}
                        </p>
                    </div>
                    <div class="scan-overview--details">
                        <div class="scan-overview--warnings">
                            <p class="scan-overview__subheader">warnings</p>
                            <p class="scan-overview__body--red" id="total-warnings">{{'or' overallStatistics.warnings 0}}</p>
                        </div>
                        <div class="scan-overview--errors">
                            <p class="scan-overview__subheader">errors</p>
                            <p class="scan-overview__body--red" id="total-errors">{{'or' overallStatistics.errors 0}}</p>
                        </div>
                        <div class="scan-overview--time">
                            <p class="scan-overview__subheader">scan time</p>
                            <p class="scan-overview__body--purple">{{'or' time '00:00'}}</p>
                        </div>
                        <div class="scan-overview--version">
                            <p class="scan-overview__subheader">version</p>
                            <p class="scan-overview__body--purple">{{'or' version '-'}}</p>
                        </div>
                        <div class="scan-overview--config">
                            <p class="scan-overview__subheader">Scan Configuration</p>
                            <a class="scan-overview__body__link" href="config/{{id}}">View JSON file</a>
                        </div>
                        <div class="scan-overview--permalink">
                            <p class="scan-overview__subheader">permalink</p>
                            <p class="scan-overview__body__permalink">
                                {{permalink}}
                                <button class="permalink-copy">
                                    <img src="/images/permalink-icon.svg" />
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layout layout--fifths">
                    {{#each categories as |category|}}
                    <div class="module">
                        <div class="rule-tile
                            {{#if (passRule statistics)}}
                                {{#if (noPending category)}}
                                rule-tile--passed
                                {{/if}}
                            {{else}}
                                rule-tile--failed
                            {{/if}}">
                            <p class="rule-tile__category uppercase-text"><a href="#{{name}}">{{name}}</a></p>
                            <img src="{{image}}" class="rule-icon" alt="" role="presentation" />
                            <div class="rule-list">
                                <p class="
                                    {{#if (passErrors statistics)}}
                                        {{#if (noPending category)}}
                                        rule-list--passed
                                        {{/if}}
                                    {{else}}
                                        rule-list--failed
                                    {{/if}}>
                                {{name}} errors">
                                    {{statistics.errors}} {{pluralize 'Error' statistics.errors}}
                                </p>
                                <p class="
                                    {{#if (passWarnings statistics)}}
                                        {{#if (noPending category)}}
                                        rule-list--passed
                                        {{/if}}
                                    {{else}}
                                        rule-list--failed
                                    {{/if}}>
                                 {{name}} warnings">
                                    {{statistics.warnings}} {{pluralize 'Warning' statistics.warnings}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{#if (isError status)}}
                <div class="scan-error">
                    <p>
                        There was an error and we were only able to partially complete the scan. View the results below or
                        <a href="https://sonarwhal.com/scanner/">perform another scan</a>.
                    <p>
                </div>
                {{/if}}
                <section id="results-container" class="section container" role="main" aria-labelledby="errors-warnings" aria-live="polite">
                    <h2 id="errors-warnings">Errors &amp; Warnings</h2>
                    <div class="layout layout--sidebar--alt">
                        <div class="module module--primary results">
                            {{#each categories as |category|}}
                            <section class="rule-result" id="{{name}}">
                                <div class="rule-result--category">
                                    <h3>{{name}}</h3>
                                    <button title="expand" class="button-expand-all">+ Expand All</button>
                                    {{#unless (isFinish ../status)}}
                                </div>
                                <div class="rule-result--details compiling__loader">
                                    <div class="rule-result__message--compiling">
                                        <div class="rule-result__message--compiling__loader"></div>
                                        <p>Gathering results</p>
                                    </div>
                                </div>
                                {{else}}
                                    {{#if (noIssue category)}}
                                        {{>category-pass-message}}
                                    {{/if}}

                                    {{#each (filterErrorsAndWarnings results)}}
                                        {{>scan-result-item}}
                                    {{/each}}
                                {{/unless}}
                            </section>
                            {{/each}}
                        </div>
                    </div>
                </section>
                <section class="section container">
                    <p class="subtitle">Have an issue or problem with the scanner?</p>
                    <p>File an issue on <a target="_blank" href="https://github.com/sonarwhal/sonarwhal/issues/new">GitHub</a> and let us know or try and <a href="https://sonarwhal.com/scanner/">perform another scan</a>.</p>
                </section>
            </div>
        </article>
    </main>
</div>
