<main>
    <div id="scan-processing-illustraiton" class="nellie-waiting">
        <div class="nellie-waiting__container">
            <img src="/images/click-1.svg" alt="click" class="nellie-waiting__click-one" />
            <img src="/images/click-2.svg" alt="click" class="nellie-waiting__click-two" />
            <img src="/images/click-3.svg" alt="click" class="nellie-waiting__click-three" />
            <img src="/images/home-nellie.svg" alt="Nellie waiting for the scan to complete" />
        </div>
    </div>

    </div>
    <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Scanner</li>
                <li>Results</li>
            </ul>
        </nav>
        <header class="page-intro container">
            <h1 id="page-heading">{{intro.title}}</h1>
            <p class="subtitle">{{intro.description}}</p>
        </header>
        <div class="section container">
            <div class="scan-overview" data-id="{{id}}">
                <div class="scan-overview__header">SCANNED URL : <a href="https://sonarwhal.com">{{url}}</a></div>
                <div class="scan-overview--details">
                    <div class="scan-overview--warnings">
                        <p class="scan-overview__subheader">warnings</p>
                        <p class="scan-overview__body--red" id="total-warnings">{{'or' overallStatistics.warnings 0}}</p>
                    </div>
                    <div class="scan-overview--errors">
                        <p class="scan-overview__subheader">errors</p>
                        <p class="scan-overview__body--red" id="total-errors">{{'or' overallStatistics.errors 0}}</p>
                    </div>
                    <div class="scan-overview--time">
                        <p class="scan-overview__subheader">scan time</p>
                        <p class="scan-overview__body--purple">{{'or' time '00:00'}}</p>
                    </div>
                    <div class="scan-overview--version">
                        <p class="scan-overview__subheader">version</p>
                        <p class="scan-overview__body--purple">0.6.2</p>
                    </div>
                    <div class="scan-overview--permalink">
                        <p class="scan-overview__subheader">permalink</p>
                        <p class="scan-overview__body__permalink">{{permalink}} <a href="{{permalink}}" alt="copy permalink"><img src="/images/permalink-icon.svg" class="permalink-copy"/></a></p>
                    </div>
                </div>
            </div>
            <div class="layout layout--fifths">
                {{#each categories}}
                <div class="module">
                    <div class="rule-tile rule-tile--{{#if (passRule statistics)}}passed{{else}}failed{{/if}}">
                        <p class="rule-tile__category uppercase-text">{{name}}</p>
                        <img src="/images/{{image}}.svg" class="rule-icon" alt="" role="presentation" />
                        <div class="rule-list">
                            <p class="rule-list--{{#if (passErrors statistics)}}passed{{else}}failed{{/if}} {{name}} errors">{{statistics.errors}} Errors</p>
                            <p class="rule-list--{{#if (passWarnings statistics)}}passed{{else}}failed{{/if}} {{name}} warnings">{{statistics.warnings}} Warnings</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <section class="section container">
                <h2>Errors &amp; Warnings</h2>
                <div class="layout layout--sidebar--alt">
                    <div class="module module--primary">
                        {{#each categories}}
                            {{#if results}}
                            <section class="rule-result" id="{{name}}">
                                <h3>{{name}}</h3>
                                {{#each results}}
                                <div class="rule-result--details" aria-expanded="false">
                                    <div class="rule-result--details__header">
                                        <p class="rule-title">{{name}}: {{getLength messages status}}</p>
                                        <div class="rule-result__docs">
                                            <a href="https://sonarwhal.com/docs/user-guide/rules/{{name}}.html"><img src="/images/results-docs-icon.svg" alt="documentation"  class="docs-icon" /></a>
                                            <button title="show warning details" class="button--details">Open Details</button>
                                        </div>
                                    </div>
                                    {{#each messages}}
                                    <div class="rule-result--details__body">
                                        <p class="warning-badge uppercase-text">{{../status}}</p>
                                        <p>
                                            {{message}}
                                        </p>
                                        <div class="rule-result__code">
                                            <p>
                                                {{cutUrlString resource}}
                                                {{#if location.line}}:{{location.line}}{{/if}}
                                                {{#if location.column}}:{{location.column}}{{/if}}
                                            </p>
                                            <code>{{cutCodeString sourceCode}}</code>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/each}}
                            </section>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </section>
        </div>
        <div class="overlay"></div>
    </article>
</main>
