<article class="content" aria-labelledby="page-heading">
    <nav class="container breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a {{#if (isSubPage page)}} href="../../"{{else}}href="../"{{/if}}>Documentation</a>
            </li>
            {{#if (isSubPage page)}}
            <li>
                <a href="../">
                    {{#compare page.category '===' 'user-guide'}}
                        User guide
                    {{else}}
                        Developer guide
                    {{/compare}}
                </a>
            </li>
            {{/if}}
            <li aria-current="location">{{page.title}}</li>
        </ul>
    </nav>
    <header class="page-intro">
        <h1 id="page-heading">{{page.title}}</h1>
    </header>
    <section class="section">
        <div class="layout layout--sidebar">
            <div class="module module--primary wrap-text">
                {{{page.content}}}
            </div>
            <div class="module module--secondary table-of-contents treeview" role="navigation">
                <ul role="tree" aria-labelledby="page-heading">
                {{#each pages}}
                    {{#if (expandable this)}}
                        <li role="treeitem" aria-label="subsection"
                            {{#if (expandToC ../page this)}}
                                aria-expanded = "true"
                            {{else}}
                                aria-expanded="false"
                            {{/if}}>

                            {{#hasTocTitle @key}}
                            <div class="toc-section-title">
                                <a href="{{getToCIndexPageLink ../this}}">
                                {{@key}}
                                </a>
                                <span class="icon"></span>
                            </div>
                            {{/hasTocTitle}}

                                <ul class="toc-subsection-title" role="group">
                                    {{#each (getSubsectionPages this)}}
                                        <li role="treeitem" {{#compare ../../page.title '===' title}}aria-selected="true"{{/compare}}>
                                            <label>
                                                <a href="{{permalink}}"
                                                    {{#compare ../../page.title '===' title}}
                                                        class="toc-subsection-title--active"
                                                        aria-current="location"
                                                    {{else}}
                                                        class="toc-subsection-title"
                                                    {{/compare}}>
                                                    {{title}}
                                                </a>
                                            </label>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{else}}
                            {{#hasTocTitle @key}}
                             <li role="treeitem">
                                <label class="toc-section-title--active">
                                    <a href="{{getToCIndexPageLink ../this}}">
                                    {{@key}}
                                    </a>
                                </label>
                             </li>
                            {{/hasTocTitle}}
                        {{/if}}
                {{/each}}
                </ul>
            </div>
        </div>
    </section>
</article>
