<header class="header">
    <div class="container nav-bar">
        <nav class="nav">
            <a href="/" class="clear"><img src="{{url_for "images/sonar-logo.svg"}}" alt="sonar" class="header__logo navbar__navitem"></a>
            <input type="search" id="search-input" placeholder="Search..." class="hide">
            <ul class="nav__navbar">
                {{#each navs}}
                    <li class="navbar__navitem">
                        <a role="button" href="{{url_for link}}" id="{{id}}" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-{{id}}" class="navitem__button">{{title}}</a>
                        {{#hasSubPage id}}
                            <ul role="group" id="submenu-{{id}}" class="navbar__submenu" aria-hidden="true">
                                {{#each items}}
                                    <li><a href="{{url_for link}}">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        {{/hasSubPage}}
                    </li>
                {{/each}}
            </ul>
        </nav>
        <button class="header__toggle mobile-nav-button" aria-label="Menu"></button>
    </div>
</header>
