<main class="container">
    <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../../">Documentation</a></li>
                <li>
                    <a href="../../">
                        {{#compare page.category '===' 'user-guide'}}
                            User Guide
                        {{else}}
                            Developer Guide
                        {{/compare}}
                    </a>
                </li>
                <li aria-current="page">{{page.title}}</li>
            </ul>
        </nav>
        <header class="page-intro">
            <h1 id="page-heading">{{intro.title}}</h1>
            <p class="subtitle">{{intro.description}}</p>
        </header>
        <section class="section">
            <div class="layout layout--sidebar">
                <div class="module module--primary">
                    {{{page.content}}}
                </div>
                <div class="module module--secondary table-of-contents" role="navigation">
                    {{#each pages}}
                        {{#hasTocTitle @key}}
                            <p class="toc-section-title--active">{{@key}}</p>
                        {{/hasTocTitle}}
                        <ul class="toc-subsection-title">
                            {{#each this}}
                                <li>
                                    <a href="{{permalink}}"
                                        {{#compare ../../page.title '===' title}}
                                            class="toc-subsection-title--active"
                                        {{else}}
                                            class="toc-subsection-title"
                                        {{/compare}}>
                                        {{title}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    {{/each}}
                </div>
            </div>
        </section>
    </article>
</main>
