<div class="section">
    <div class="layout layout--fifths">
        <div class="module">
            <div class="about-card">
                <a href="/about/changelog/">
                    <div class="about-card__main">
                        <img src="{{url_for "images/about-changelog.svg"}}" class="about-card__icon" alt="" role="none">
                        <p class="about-card__title">Changelog</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="module">
            <div class="about-card">
                <a href="https://js.foundation/community/code-of-conduct">
                    <div class="about-card__main">
                        <img src="{{url_for "images/about-codeofconduct.svg"}}" class="about-card__icon" alt="" role="none">
                        <p class="about-card__title">Code of Conduct</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="module">
            <div class="about-card">
                <a href="/about/contributors/">
                    <div class="about-card__main">
                        <img src="{{url_for "images/about-contributors.svg"}}" class="about-card__icon" alt="" role="none">
                        <p class="about-card__title">Contributors</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="module">
            <div class="about-card">
                <a href="/about/faq/">
                    <div class="about-card__main">
                        <img src="{{url_for "images/about-faq.svg"}}" class="about-card__icon" alt="" role="none">
                        <p class="about-card__title">FAQ</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="module">
            <div class="about-card">
                <a href="/about/governance/">
                    <div class="about-card__main">
                        <img src="{{url_for "images/about-governance.svg"}}" class="about-card__icon" alt="" role="none">
                        <p class="about-card__title">Governance</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
