<main class="container">
    <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="index.html">About</a></li>
                <li>Contributors</li>
            </ul>
        </nav>
        <header class="page-intro">
            <h1 id="page-heading">{{intro.title}}</h1>
        </header>
        <section class="section">
            <div class="layout layout--quarters">
            {{#each devs}}
                <div class="module module--contributors">
                    <a {{#if website}} href="{{website}}"{{else}}href="#"{{/if}}>
                        <img src="{{avatar}}?s=100" width="100" alt="{{name}}">
                    </a>
                    <p class="subtitle">{{name}}</p>
                    <p class="caption--alt">{{company}}</p>
                </div>
            {{/each}}
            </div>
        </section>
    </article>
</main>
