{{#if noIssue}}
    <div class="rule-result--details">
        <div class="rule-result__message--passed">
            <p>No issues</p>
        </div>
    </div>
{{/if}}

{{#each results}}
    <div class="rule-result--details" aria-expanded="false" id="{{name}}">
        <div class="rule-result--details__header">
            <p class="rule-title">{{name}}: {{getLength messages status}}</p>
            <div class="rule-result__docs">
                <a class="docs-button" href="https://sonarwhal.com/docs/user-guide/rules/{{name}}.html" title="documentation for {{name}} rule"><img src="/images/results-docs-icon.svg" alt="" class="docs-icon" />Documentation</a>
                <button title="show {{name}}'s result details" class="button--details" data-rule="{{name}}">Open details</button>
            </div>
        </div>
        {{#each messages}}
        <div class="rule-result--details__body">
            <p class="{{../status}}-badge uppercase-text">{{../status}}</p>
            <p>
                {{message}}
            </p>
            {{#compare resource '||' sourceCode}}
            <div class="rule-result__code">
                {{#if resource}}
                <p>
                    <a target="_blank" rel="noopener noreferrer" href="{{resource}}">
                        {{cutUrlString resource}}{{normalizePosition location.line}}{{normalizePosition location.column}}
                    </a>
                </p>
                {{/if}}
                {{#if sourceCode}}
                <code>{{cutCodeString sourceCode}}</code>
                {{/if}}
            </div>
            {{/compare}}
        </div>
        {{/each}}
        {{#if thirdParty}}
            <div class="rule-result--details__footer-msg">
                {{#if thirdParty.details}}
                    <p>To learn more visit </p>
                {{else}}
                     <p>With the help of </p>
                {{/if}}

                <a href="{{thirdParty.link}}">
                    <img src="{{thirdParty.logo.url}}" alt="{{thirdParty.logo.alt}}" class="{{thirdParty.logo.name}}-logo" />
                </a>
            </div>
        {{/if}}
    </div>
{{/each}}
