<main class="container">
    <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Search</li>
            </ul>
        </nav>
        <header class="page-intro">
            <h1 id="page-heading">{{intro.title}}</h1>
        </header>
        <section class="section">
            {{>search-form}}

            <div class="layout layout--sidebar--alt">
                <div class="module module--primary">
                    {{#if hits.length}}
                    <ul class="bare">
                        {{#each hits}}
                        <li class="search-result wrap-text">
                            <div class="search-result__main">
                                <p class="search-result__guide caption">
                                    {{{category}}}
                                    <span> : </span>
                                    {{{title}}}
                                </p>
                                <a href="{{url}}" class="subtitle search-result__title">
                                    {{#if subtitle}}
                                        {{{subtitle}}}
                                    {{else}}
                                        {{{title}}}
                                    {{/if}}
                                </a>
                                <p class="search-result__description">{{{snippet}}}</p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div id="pagintion-wrapper">
                        <nav class="pagination" aria-label="pagination" data-pattern="/">
                            {{>pagination}}
                        </nav>
                    </div>
                    {{else}}
                    {{#if query}}
                    <p class="subtitle">No results found for {{query}}</p>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </section>
    </article>
</main>
