<article class="content" aria-labelledby="page-heading">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a {{#if (isNotGuideIndexPage page)}} href="../../"{{else}}href="../"{{/if}}>Documentation</a>
            </li>
            {{#if (isNotGuideIndexPage page)}}
            <li>
                <a  href="../{{#if (isNotSectionIndexPage page)}}../{{/if}}" class="guide-category">
                    {{capitalize page.category}}
                </a>
            </li>
            {{/if}}
            <li aria-current="location">{{page.title}}</li>
        </ul>
    </nav>
    <header class="page-intro">
        <h1 id="page-heading">{{page.title}}</h1>
        <div class="documentation-actions">
            <ul>
                <li>
                    <a target="_blank" href="{{theme.sonarwhalRepoRoot}}/blob/master{{getMarkdownLink page.permalink}}">Edit</a>
                </li>
                <li>
                    <a target="_blank" href="{{theme.sonarwhalRepoRoot}}/issues/new?{{getSignalIssueQuery theme.sonarwhalRoot page.title page.permalink}}">Signal Issue</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="section">
        <div class="layout layout--sidebar">
            <div class="module module--secondary mobile-view">
                <ul class="toc-mobile-view">
                    <li>
                        <p role="button" id="mobile-toc" aria-controls="mobile-toc-submenu" aria-expanded="false" aria-haspopup="true" class="toc-mobile-view__button expandable">{{capitalize page.category}}</p>
                        <ul role="group" class="toc-mobile-view__dropdown" id="mobile-toc-submenu" aria-hidden="true">
                             {{#if (isNotGuideIndexPage page)}}
                            <li class="dropdown__subitem">
                                <a href="../{{#if (isNotSectionIndexPage page)}}../{{/if}}" class="subitem--single">Getting Started</a>
                            </li>
                            {{else}}
                             <li class="dropdown__subitem">
                                <a href="#" class="subitem--single">Getting Started</a>
                            </li>
                            {{/if}}
                            {{#each (getSortedToCTitles pages)}}
                            <li class="dropdown__subitem">
                                <p>{{this}}</p>
                                <ul>
                                    {{#each (getPagesByToCTitle this ../pages)}}
                                    <li class="subitem"><a href="{{sanitize permalink}}">{{title}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="module module--secondary table-of-contents treeview main-view" role="navigation">
                <ul role="tree" aria-labelledby="page-heading" tabindex="0">
                {{#each (getSortedToCTitles pages)}}
                    <li role="treeitem" aria-label="subsection" tabindex="0"
                    {{#compare ../page.tocTitle '===' this}}
                        aria-expanded = "true"
                    {{else}}
                        aria-expanded="false"
                    {{/compare}}>
                        <div  {{#compare ../page.tocTitle '===' this}}
                                        class="toc-section-title--active"
                                {{else}}
                                        class="toc-section-title"
                                {{/compare}}>
                            <span class="text">{{this}}</span>
                            <span class="icon"></span>
                        </div>

                        <ul role="group">
                            {{#each (getPagesByToCTitle this ../pages)}}
                                <li role="treeitem"
                                {{#compare ../../page.title '===' title}}
                                    aria-selected="true"
                                {{/compare}}>
                                    <div {{#compare ../../page.title '===' title}}
                                                class="toc-subsection-title--active"
                                                aria-current="location"
                                            {{else}}
                                                class="toc-subsection-title"
                                            {{/compare}}>
                                        <a class="text" href="{{sanitize permalink}}"
                                            {{#compare ../../page.tocTitle '!==' ../this}}
                                                tabindex="-1"
                                            {{/compare}}>
                                            {{title}}
                                        </a>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
                </ul>
            </div>
            <div class="module module--primary wrap-text">
                {{{page.content}}}
            </div>
        </div>
    </div>
</article>
